version: "3.9"

services:
  # Laravel Service
  php:
    build:
      context: ./backend
      dockerfile: Dockerfile
      target: php
      args:
        - APP_ENV=${APP_ENV}
    environment:
      - APP_ENV=${APP_ENV}
      - HOST=${HOST}
      - PORT=${PORT}
      - CONTAINER_ROLE=app
    working_dir: /var/www
    volumes:
      - ./backend:/var/www
    ports:
      - 8000:8000
    depends_on:
      - database
    networks:
      - news-network

  # Database Service
  database:
    image: mysql:8.0.36
    ports:
      - 3307:3306
    environment:
      - MYSQL_DATABASE=${DB_DATABASE}
      - MYSQL_USER=${DB_USERNAME}
      - MYSQL_PASSWORD=${DB_PASSWORD}
      - MYSQL_ROOT_PASSWORD=${DB_PASSWORD}
    volumes:
      - db-data:/var/lib/mysql
    networks:
      - news-network

  # Gatsby Service
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    environment:
      - GATSBY_HOST=${GATSBY_HOST}
      - GATSBY_PORT=${GATSBY_PORT}
    volumes:
        - ./frontend/src:/app/src
    ports:
      - "3000:8000"
    tty: true
    depends_on:
      - php
    networks:
      - news-network

volumes:
  db-data: ~

networks:
  news-network:
    driver: bridge
