@import "variables";
@import "fonts";
@import "commons";

body {
	background-color: $background-color;
	font-size: 16px;
	line-height: 1.8;
	font-weight: 400;
	color: #3c434a !important;

	* {
		font-family: $base-font-family !important;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.5;
	color: black;
}

.feeds-layout {
	max-width: 1366px;
	padding: 10px 15px;

	&__preferences-card {
		min-width: 250px;
		min-height: 100px;
	}

	&__h3 {
		font-size: 15px !important;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}
