.feeds-login,
.feeds-register {
	top: 20vh;
	padding: 20px;
	background: #fff;

	&__form {
		padding: 20px 20px 10px;
	}

	&__input {
		height: 30px;
	}

	&__button {
		height: 35px;
	}

	.ant-input {
		padding-left: 8px !important;
	}

	&__forgot-click {
		margin-top: -20px;
	}
}
