.feed-search {
	margin-bottom: 24px;

	&__search {
		.ant-input-affix-wrapper,
		.ant-input-group-addon {
			box-shadow: 0 0 6px 3px rgba( 0, 0, 0, 0.10 );
		}

		input {
			height: 38px;
		}

		.ant-input-search-button {
			height: 48px;
		}
	}
}
